@model List<CoinTradeWebApp.DB.report>
@{
    ViewData["Title"] = "ReportHours";
}
<div>
    <ul>
        <li style="float:left;margin: 10px"><a asp-area="" asp-controller="Home" asp-action="Details" asp-route-user="@ViewBag.user">Details</a></listyle="float:left">
        <li style="float:left;margin: 10px"><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-user="@ViewBag.user">分钟</a></li>
        <li style="float:left;margin: 10px"><a asp-area="" asp-controller="Home" asp-action="ReportHours" asp-route-user="@ViewBag.user">日报</a></li>
        <li style="float:left;margin: 10px"><a asp-area="" asp-controller="Home" asp-action="ReportDaily" asp-route-user="@ViewBag.user">周报</a></li>
    </ul>
</div>
<p></p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>

            <tr>
                <td style="font-weight:bold;font-size:large">24小时盈利</td>
                <td style="font-weight:bold;font-size:large">@ViewBag.earn?.ToString("0.000")</td>
                <td style="font-weight:bold;font-size:large">交易盈利</td>
                <td style="font-weight:bold;font-size:large">@ViewBag.tearn?.ToString("0.000")</td>
            </tr>
            <tr>
                <td>昨至今交易盈利</td>
                <td>@ViewBag.earnTY?.ToString("0.000")</td>
                <td>昨至今手续费</td>
                <td>@ViewBag.feesY?.ToString("0.000")</td>
            </tr>
            <tr>
                <td>当天交易盈利</td>
                <td>@ViewBag.earnTT?.ToString("0.000")</td>
                <td>当天手续费</td>
                <td>@ViewBag.feesT?.ToString("0.000")</td>
            </tr>
            <tr>
                <td style="font-weight:bold;font-size:large">盈利+昨费</td>
                <td style="font-weight:bold;font-size:large">@((ViewBag.earn + ViewBag.feesY).ToString("0.000"))</td>
                <td style="font-weight:bold;font-size:large">盈利+今费</td>
                <td style="font-weight:bold;font-size:large">@((ViewBag.earn + ViewBag.feesT).ToString("0.000"))</td>

            </tr>




        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            @*<th>
                </th>*@
            <th>
                日期
            </th>
            <th>
                资产
            </th>
            <th>
                净盈利
            </th>
            <th>
                开盘价
            </th>
            <th>
                当前价
            </th>
            @*<th>
                    RateYear
                </th>*@
            <th>
                交易盈利
            </th>
            <th>
                时震荡
            </th>
            <th>
                时平仓
            </th>

        </tr>
        @if (Model.Count != 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.date.Remove(12, 2), "Details", "Home", new { user = ViewBag.user, reportId = item.id }, new { })</td>
                    @*<td>@item.date.Remove(12, 2)</td>*@
                    <td style="font-weight:bold;font-size:large">@item.NetFund?.ToString("0.00")</td>
                    <td style="font-weight:bold;font-size:large">@((item.NetFund - item.OpenFund)?.ToString("0.000"))</td>
                    <td>@item.OpenPrice</td>
                    <td>@item.TickerPrice</td>
                    @*<td>@item.RateYear?.ToString("0.00")</td>*@
                    <td>@item.Earn?.ToString("0.000")</td>
                    <td>@item.HDealCount</td>
                    <td>@item.HResetCount</td>


                </tr>
            }

        }
    </table>
</div>

